html,
body {
  height: 100%;
  margin: 0;
}

h1.heading{
  font-size: 3em;
  line-height: 1em;
}

h3.thin{
  font-weight: 200;
}

li > h3 {
  line-height: 0.6em;
}

.app {
  display: flex;
  flex-direction: column;
}

.standard-footer {
  display: flex;
  flex-direction: row;
  flex-direction: column;
  min-height: 300px;
}

.bubbles {
  flex: 1;
  background-position: center bottom;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.information {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 1em;
  justify-content: center;
  font-style: normal;
}

.information-wrapper {
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.information-wrapper > * {
  font-size: 1em;
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.information address {
  flex: inherit;
  font-style: normal;
}

.page-header {
  flex: 0 0 auto;
  z-index: 10000;
}

.headliner {
  display: flex;
  align-content: flex-end;
}

.headliner .heading {
  flex: 1;
  align-self: flex-end;
  margin-left: 1em;
}

.phone-demo {
  height: 80vh;
}

.page-content {
  flex: 1 1 auto;
  position: relative;/* need this to position inner content */
  overflow-y: auto;
}

.features {
  margin-left: auto;
  margin-right: auto;
  max-width: 75vw;
}

.cash-savings {
  padding-bottom: 5em;
}

.partners {
  padding-left: 1em;
  padding-right: 1em;
  max-width: 75vw;
}

.features .grid-child {
  padding: 1em;
}

.nav-item {
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
}

.flex-parent{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.flex-parent.column{
  flex-direction: column;
}

ul {
  list-style-type: none;
}

ul.flex-parent{
  justify-content: left;
}

.feature-title {
  font-size: 1em;
  font-weight: normal;
  margin-top: 2em;
}

li {
  padding: 0em 1em;
  text-align: left;
}

.team-name {
  font-weight: normal;
  font-size: 1em;
  margin-top: 2em;
}

.team-members .heading {
  padding-bottom: 1em;
}

.team-members .grid-child {
  min-width: 300px;
}

nav {
  font-size: 1.5em;
}

.parallax-banner.contain-parallax .parallax-outer .parallax-inner > * {
  background-size: 100% !important;
}

.mobile-container{
  position: absolute;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .phone-demo {
    margin-top: 4em;
    height: 60vh;
    margin-bottom: 0;
  }

  .headliner .heading {
    font-size: 1.5em;
    text-align: center;
    margin-left: 0;
    align-self: flex-start;
  }
  .flex-parent{
    flex-direction: column-reverse;
  }

  .flex-parent.row{
    flex-direction: row
  }

  .app .half-child{
    max-width: 90%;
  }

  .bubbles {
    background-size: 150% 100%;
  }

  .parallax-banner.contain-parallax .parallax-outer .parallax-inner > * {
    background-size: 300% !important;
  }

  .mobile-container{
    flex-direction: column-reverse;
  }
}

.content-box.nav{
  display: flex;
}

.content-box.nav > nav {
  padding: 0 1em;
}

@media only screen and (max-width: 340px) {
  nav{
    font-size: 1em;
  }
}


.section {
  position: relative;
  width: 150%;
  min-height: 25vh;
  margin: auto;
  color: #ffffff;
}

.section.bg-static .bg-move {
  position: absolute;
  top: 0;
  bottom: 0;
  right: auto;
  width: 25%;
  height: auto;
  background-size: contain;
  background-repeat: no-repeat;
  max-height: 150px;
}

.arrow-container{
  width: 100%;
  margin: 2em 0;
}
.scroll-down {
  bottom: 15px;
	display: block;
	text-align: center;
  font-size: 20px;
  margin: 0 auto;
	z-index: 100;
	text-decoration: none;
	text-shadow: 0;
  width: 13px;
  height: 13px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  z-index: 9;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
	-webkit-animation: fade_move_down 4s ease-in-out infinite;
	-moz-animation:    fade_move_down 4s ease-in-out infinite;
  animation:         fade_move_down 4s ease-in-out infinite;
  align-self: flex-end;
}


/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
}


/* Boilerplate for the font */
h1 { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } h3 { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 1.5em; font-style: normal; font-variant: normal; font-weight: 500; line-height: 1.5em; } p { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }